<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Odonto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="headerNav">
        <nav class="navBar">
            <div class="logotipo">
                <img id="logoNav" src="../images/logo.png" alt="logotipo-da-empresa">
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Especialidades</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <section class="principal">
        <div class="principalAgendar">
            <h1>Clinica</h1>
            <h1>Odontoolgica</h1>
            <p>Sorria com confiança.</p>
            <p>Temos o plano adontológico ideal para você.</p>

            <button>Agendar Consulta</button>
        </div>
        <div class="principalLogo">
            <img src="../images/logo.png" alt="">
        </div>

    </section>
    
    <section class="sobre">
        <div class="sobreDesc">
            <div class="desc">
                <img class="descImage" src="../images/logo.png" alt="">
                <h1>Clinica Odontoolgica</h1>
                <p >Bem-vindo à Clínica Odonto, onde o seu sorriso é a nossa maior prioridade! Somos uma clínica de excelência em cuidados odontológicos, comprometida em transformar vidas por meio da saúde bucal.</p>
                <p> Queremos não apenas tratar, mas cuidar de você, criando sorrisos saudáveis e felizes. Na Clínica Odonto, cada sorriso é único e merece o nosso melhor.</p>
                <p>A Clinica Odontológica fica localizada no bairro Jardim das Águas em São Paulo. Em 1200m² de área construída, contamos com um corpo clínico qualificado, diagnóstico médico por imagem e terapias complementares.</p>
            </div>  
            
        </div>
        <div class="sobreImages">
            <div class="images">
                <img class="imgCadeira" src="../images/cadeira-de-consultorio.jpg" alt="">
                <img class="imgConsultorio" src="../images/consultorio.jpg" alt="">
            </div>
            
        </div>
    </section>
    <section class="servicos">
        <div class="servicoTitle">
            <h1>Serviços Odontológicos</h1>
        </div>
        <div class="tipoServicos">
            <div class="servico">
                <img src="../images/icones/sorriso.png" alt="">
                <h3>Limpesa Dentária</h3>
                <p>Procedimento para remover placa bacteriana, tártaro e manchas nos dentes, prevenindo cáries e doenças gengivais.</p>
            </div>
            <div class="servico">
                <img src="../images/icones/clareamento-dental.png" alt="">
                <h3>Clareamento Dental</h3>
                <p>Tratamento estético que utiliza substâncias químicas para clarear os dentes, melhorando a cor e brilho do sorriso.</p>
            </div>
            <div class="servico">
                <img src="../images/icones/caries-dentarias.png" alt="">
                <h3>Tratamento de Cáries</h3>
                <p>Consiste na remoção de tecidos cariados e na restauração dos dentes com materiais como resina ou amálgama.</p>
            </div>
            <div class="servico">
                <img src="../images/icones/aparelho-ortodontico.png" alt="">
                <h3>Ortodontia</h3>
                <p>Uso de aparelhos para corrigir desalinhamentos e má oclusão dos dentes, promovendo uma mordida saudável e estética.</p>
            </div>
            <div class="servico">
                <img src="../images/icones/implante-dentario.png" alt="">
                <h3>Implantes Dentários</h3>
                <p>Dispositivos de titânio inseridos no osso para substituir dentes perdidos, oferecendo uma base para coroas.</p>
            </div>
           
        </div>
    </section>

    <section class="contato">
        <div class="contatoTop">
            <h1>Contato</h1>
        </div>
        <div class="conteinerMap">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14642.149562505014!2d-45.07360364962952!3d-23.441072645660647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1730051784690!5m2!1spt-BR!2sbr" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contatos">
                <div class="cont">
                    <img src="../images/icones/gps.png" alt="">
                    <p>Avenida das Flores, 789 – Jardim das Águas</p>
                </div>
                <div class="cont">
                    <img src="../images/icones/aplicativo-de-caixa-de-entrada-de-correio.png" alt="">
                    <p>Contato@ClinicaOdonto.com.br</p>
                </div>
                <div class="cont">
                    <img src="../images/icones/telefone.png" alt="">
                    <p>(12)9919-9919</p>
                </div>
                <div class="cont">
                    <img src="../images/icones/relogio.png" alt="">
                    <p>Seg-Sex: 08 às 20h Sábado: 08 às 12h</p>
                </div>
            </div>
        </div>
       
        <div class="contatoDesc">
           
        </div>
    </section>
    <section class="agendar">
        <div class="agendarTitle">
            <h1>Agende a sua avaliação</h1>
        </div>
        <div class="conteinerForm">
            <div class="formImg">
                <img src="../images/undraw_Resume_re_hkth (1).png" alt="">
            </div>
            <div class="formulario">
                <form id="formContato" action="">
                    <h3>Fale conosco</h3>
                    <input type="text" placeholder="Nome:">
                    <input type="email" placeholder="E-mail:">
                    <input type="text" placeholder="Telefone">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Descrição"></textarea>
                    <button>Enviar</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="rodape">
        <div class="rodapeImg">
            <img class="abstrato um" src="../images/footer/Vector 1.png" alt="">
            <img class="abstrato dois"  src="../images/footer/Vector 2.png" alt="">
        </div>
        <div class="footerConteiner">
            <div class="descClinica">
                <img src="../images/logo.png" alt="">
                <p>Nossa Clinica traz para os seus pacientes mais qualidade no atendimento e conforto na realização de consultas e dos seus exames.Venha nos conhecer!</p>
                <span>Médico Responsável Técnico: Dr. João, CRM 0000</span>
            </div>

            <div class="linksUteis">
                <div class="linkTitle">
                    <h4>Links Uteis</h4>
                </div>
                <ul>
                    <li>Home</li>
                    <li>Sobre</li>
                    <li>Especialidades</li>
                    <li>Agendar Consulta</li>
                </ul>
            </div>
            <div class="footerContato">
                <div class="contatoTitle">
                    <h4>Contato</h4>
                </div>
                <div class="iconContato">
                    <img src="../images/icones/telefone.png" alt="">
                    <p>(12)9919-9919</p>
                </div>
                <div  class="iconContato">
                    <img src="../images/icones/aplicativo-de-caixa-de-entrada-de-correio.png" alt="">
                    <p>Contato@ClinicaOdonto.com.br</p>
                </div>
            </div>

        </div>
        <div class="rodapeImg">
            <img class="abstratoBottom tres"  src="../images/footer/Vector 3.png" alt="">
            <img class="abstratoBottom quatro"  src="../images/footer/Vector 4.png" alt="">
        </div>
    </footer>

</body>
</html>